@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Sorry if you made it to this page. I did not have a enough time to find the location of the log in, log off and register outgoing view path. Click on the above or below Car Insurance to get back to the qualified list.</h1>
  @Html.ActionLink("Car Insurance", "Index", "InsuranceQualifications", new { area = "" }, new { @class = "navbar-brand" })
</div>
