@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
  ViewBag.Title = "Qualified";
}

<h2>Qualified</h2>

<p>Congratulations, on qualifying! Now click the link below to see your name, well if you entered one, on the list of the qualified.</p>

<div>
  @Html.ActionLink("Back to qualified list", "Index")
</div>